# Folders
build/*
!build/shaders
!build/textures
!build/meshes

debug/
.vs/

# VS files
*.db
*.opendb
*.sdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!assimp-vc140-mt.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!glfw3.lib
!glew32s.lib
!assimp.lib
!zlib.lib
!zlibd.lib
!zlibstatic.lib
!zlibstaticd.lib

# Executables
*.exe
*.out
*.app

./*.txt